h1 {
    color: red;
}

img{    
    width: 400px;
}

.thirdDiv {
height: 600px; 
width:500px; 
color: blue; 
font-size: 18px; 
padding: 50px; 
border: royalblue; 
border-width: 10px; 
border-style: double;
}
